* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    list-style: none;
    text-decoration: none;
    outline: none;
}

#svg-map path {
    fill: #0094d9
}

#svg-map text {
    fill: #fff;
    font: 12px Arial-BoldMT, sans-serif;
    cursor: pointer
}

#svg-map a {
    text-decoration: none
}

#svg-map a:hover {
    cursor: pointer;
    text-decoration: none
}

#svg-map a:hover path {
    fill: #003399 !important
}

#svg-map .circle {
    fill: #66ccff
}

#svg-map a:hover .circle {
    fill: #003399 !important;
    cursor: pointer
}

#pesquisarEstado,
#pesquisarPais {
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

[data-pesquisar-estado],
[data-pesquisar-pais] {
    display: flex;
}

[data-lupa] {
    padding: 12px 13px 12px 13px;
    margin-bottom: 12px;
    position: absolute;
}

tbody:nth-child(even) {
    background-color: #f2f2f2;
}

.table tbody+tbody {
    border: none !important;
}

[data-info-mapa] {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table td,
.table th {
    border-top: none !important;
    border-bottom: 1px solid #dee2e6;
}

#tabelaPais th, #tabelaEstado th { 
    position: sticky;
    top: 0;
}

[data-fixar] {
    height: 400px;
    overflow-y: auto;
    padding: 0!important;
}

.table .thead-dark th {
    border: none!important;
}

footer {
    background: #ddd;
    padding: 50px 0;
    margin-top: 50px;
}